@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Film P3';
  src: local('Film P3'), url('./fonts/FilmP3Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}
